* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/img/fondo.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
}

form {
    text-align: start;
}

input[type="radio"] {
    border-width: 4px;
}

#gif {
    animation: playOnce 1s steps(1) forwards;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.contenedor {
    display: flex;
    flex-direction: column; /* O row, según tu diseño */
    background-color: white;
    border-radius: 25px;
    padding: 1em 5em;
    width: 80vw;
    margin: 6em 2em;
    /*height: 110em;*/
}

.contenedor-success {
    background-color: white;
    border-radius: 50px;
    padding: 1em 5em;
    width: 80vw;
    margin: 6em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    h3 {
        font-size: 18px;
    }
    .table-hijos {
        font-size: 11px;
    }

    #logo-corpo {
        width: 20em;
    }
}
