* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/img/fondo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden !important;
}

form {
    text-align: start;
}

input[type="radio"] {
    border-width: 4px;
}

input:focus {
    outline: none;
}

#gif {
    animation: playOnce 1s steps(1) forwards;
}

.contenedor-hide {
    opacity: 0;
    display: none !important;
    top: 2000px !important;
}

.contenedor {
    display: flex;
    flex-direction: column; /* O row, según tu diseño */
    background-color: white;
    border-radius: 25px;
    padding: 3em 5em;
    width: 90vw;
    min-height: 70vh;
    max-height: 85vh;
    box-shadow: 6px 6px 6px 5px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in;
    transition: display 0.5s ease-in;
    overflow: auto;
}

.container-persona table {
    width: 40%;
}

.contenedor-success {
    background-color: white;
    border-radius: 50px;
    padding: 1em 5em;
    width: 80vw;
    margin: 6em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 6px 6px 6px 5px rgba(0, 0, 0, 0.1);
}

/* .progreso {
    position: absolute;
    top: 1em;
    z-index: 9999;
    background-color: none;
    font-size: 2rem;
    color: rgb(135, 135, 135);
    display: flex;
} */

.imhere {
    color: cornflowerblue;
    /*text-shadow: 0 0 11px cornflowerblue;*/
}

.btn[disabled] {
    pointer-events: none;
}

div[class^="paso"] {
    display: flex;
    justify-content: center;
}

div[class^="paso"] p {
    letter-spacing: -3px;
}

span, span:not(:where table) {
    color: red;
}

@media only screen and (max-width: 768px) {
    h3 {
        font-size: 18px;
    }
    #logo-corpo {
        width: 20em;
    }
}
