* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/img/fondo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden !important;
}

nav {
    z-index: 9999;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}

form {
    text-align: start;
}

input[type="radio"] {
    border-width: 4px;
}

input:focus {
    outline: none;
}

select, .form-select, .form-control {
    font-size: 14px !important;
}

#gif {
    animation: playOnce 1s steps(1) forwards;
}

.contenedor-hide {
    opacity: 0;
    display: none !important;
    top: 2000px !important;
}

.contenedor {
    margin-left: auto;
    margin-right: auto; 
    margin-top: 40px; 
    margin-bottom: 60px;
    display: flex;
    flex-direction: column; 
    font-size: 14px;
    background-color: white;
    border-radius: 25px;
    padding: 3em 5em;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    transition: opacity 0.3s ease-in;
    transition: display 0.5s ease-in;
}

.container-persona table {
    width: 40%;
}

.contenedor-success {
    border-radius: 50px;
    padding: 1em 5em;
    width: 80vw;
    margin: 6em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

/* .progreso {
    position: absolute;
    top: 1em;
    z-index: 9999;
    background-color: none;
    font-size: 2rem;
    color: rgb(135, 135, 135);
    display: flex;
} */

/* #grafica-asunto {
    max-width: 1700px;
    margin: auto;
} */

.imhere {
    color: cornflowerblue;
    /*text-shadow: 0 0 11px cornflowerblue;*/
}

.btn[disabled] {
    pointer-events: none;
}

div[class^="paso"] {
    display: flex;
    justify-content: center;
}

div[class^="paso"] p {
    letter-spacing: -3px;
}

span, span:not(:where table) {
    color: red;
}

/*Check box style*/
.form-check input[type="checkbox"] {
  -webkit-appearance: none !important;
  appearance: none !important;
  background-color: #fff !important;
  font: inherit !important;
  color: #3059e2 !important;
  width: 1.15em !important;
  height: 1.15em !important;
  border: 0.15em solid #3059e2 !important;
  border-radius: 0.15em !important;
  transform: translateY(-0.075em) !important;
  display: grid !important;
  place-content: center !important;
}
 
.form-check input[type="checkbox"]::before {
  content: "" !important;
  width: 0.65em !important;
  height: 0.65em !important;
  transform: scale(0) !important;
  transition: 120ms transform ease-in-out !important;
  box-shadow: inset 1em 1em #3059e2 !important;
    transform-origin: bottom left !important;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%) !important;
}
 
.form-check input[type="checkbox"]:checked::before {
    transform: scale(1) !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}
 
.form-check input[type=checkbox]:checked:after {
    content: none !important;
}

@media only screen and (max-width: 768px) {
    h3 {
        font-size: 18px;
    }
    #logo-corpo {
        width: 20em;
    }
}
