/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li.selected{
  color: #fff !important;
}

.days li.ocupado{
  color: #fff !important;
}

.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #84d0ff;
}
.days li:not(.active):not(.ocupado):hover::before{
  background: #f2f2f2;
}

div[class^="guide-"] {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.symbol-rounded-celeste {
  height: 15px;
  width: 15px;
  background-color: #84d0ff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.symbol-rounded-azul {
  height: 15px;
  width: 15px;
  background-color: #4285f4;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.symbol-rounded-rojo {
  height: 15px;
  width: 15px;
  background-color: #ff4c4c;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  cursor: not-allowed;
}

.ocupado::before, .ocupado:hover::before {
  height: 40px;
  width: 40px;
  background-color: #ff4c4c;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  z-index: -1;
}