nav {
    top: 0;
    z-index: 9999999;
}

canvas {
    max-width: 478px;
    max-height: 230px;
}

.list {
    width: 90vw !important;
}

.modal-header-background {
    background: #154acf;
}

.modal h3 {
    color: white;
}

.contenedor-grid {
    display: grid;
    grid-template-rows: 5% 95%;
}

.container {
    margin-top: 5em;
    margin-bottom: 3em;
}

@media (max-width: 600px) {
    .oculto {
        display: none;
    }
}
